{% block head %}
    <link rel="stylesheet" href="/resources/css/homepage.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="table">
            <div class="table__row">
                <div class="table__title">Порядковый номер</div>
                <div class="table__title">Имя Фамилия</div>
                <div class="table__title">Направление обучения</div>
                <div class="table__title"></div>
            </div>
            {% for user in users %}
                {% set name = user.first_name ~ ' ' ~ user.second_name %}
                <div class="table__row">
                    <div class="table__item">{{ user.id }}</div>
                    <div class="table__item">{{ name }}</div>
                    <div class="table__item">{{ user.direction }}</div>
                    <div class="table__item">
                        <button
                                class="open-modal-button js-open-modal"
                                data-birthday={{ user.birthday }}
                                data-id="{{ user.id }}"
                                data-first-name={{ user.first_name }}
                                data-second-name={{ user.second_name }}
                        >
                            Дополнительная информация
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/resources/js/homepage.js"></script>
{% endblock %}